@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
    line-height: 1.7rem;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

header {
    align-items: center;
    display: grid;
    grid-template-columns: 100vw /*1fr 3fr 1fr*/;
    position: absolute;
    z-index: 1;
}

header img{
    box-sizing: content-box;
    margin: 0;
    padding: 2rem;
    width: 70%;
}

button.carousel-control-next, button.carousel-control-prev {
    width: 5%;
}

input.campo-buscar {
    background-image: url('https://www.husi.org.co/documents/10180/8336274/busqueda.svg/045ea132-9d97-4637-a970-72156d5549be');
    background-size: 5%;
    background-repeat: no-repeat;
    background-position: center right 1rem;
    border-radius: 2rem;
    border: 1px solid #ffffff;
    box-shadow: 0 5px 16px -10px #000000 inset, 0 -4px 7px -1px rgba(255, 255, 255, .7);
    margin: 0 auto;
    padding: 0.6em 2rem;
    width: 28rem;
}

/*nav ul {
    display: flex;
    flex-direction: row;
    justify-content: left;
    color: #ffffff;
}*/

nav ul.inactivo{
    /*display: none;*/
    opacity: 0;
    transition: all 0.5s linear;
}

nav ul {
    background: #ffffff;
    height: 100vh;
    /*display: block;*/
    opacity: 1;
    padding: 8rem 2rem;
    position: absolute;
    transition: all 0.5s linear;
    top: 0;
    width: 100vw;
    z-index: 2;
}

nav ul li{
    border-bottom: 0.2rem solid #95c11f;
    font-style: italic;
    font-weight: bold;
    padding: 1rem;
    list-style: none;
    width: 90%;
}

nav ul li a{
    background-color: #ffffff;
    color: #123274;
    text-decoration: none;
}

.carousel-item {
    height: 100vh;
    overflow: hidden;
}

div.carousel-caption{
    background: rgba(255, 255, 255, 0.8);
    color: #000000;
    bottom: 0;
    border-radius: 1rem 1rem 0 0;
    left: 4%;
    padding: 2rem 3rem 8rem;
    text-align: left;
    width: 90%;
}

div.carousel-caption h5{
    color: #004b99;
    font-size: 2.7rem;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 700;  
    padding: 1.5rem 0;  
}

div.carousel-indicators {
    bottom: 50vh;
}

img.abrir-menuHam{
    filter: invert(1);
    cursor: pointer;
    width: 40%;
    position: relative;
    z-index: 2000;
}

div.d-none {
    display: block !important;
}

img.w-100{
    height: 100vh;
    position: relative;
    width: auto !important;
}

.franja-pie {
    background: #95c11f;
    border-radius: 2rem 2rem 0 0;
    bottom: 0;
    height: 30px;
    position: absolute;
    right: 2%;
    width: 60%;
    z-index: 2000;    
}

.logo-husi {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-bottom: 2rem;
}

@media (min-width: 425px) {
    header img {
        width: 60%;
    }

    img.abrir-menuHam {
        width: 30%;
    }

    .logo-husi {
        grid-template-columns: 3fr 1fr 0fr;
    }
}

@media (min-width: 568px) {
    .logo-husi {
        display: inline;
        margin: 0;
    }
    img.abrir-menuHam {
        display: none;
    }
    header {
        grid-template-columns: 4fr 7fr 1fr;
    }
    header img {
        width: 95%;
    }
    nav{
        grid-area: 1 / 2 / 2 / 4;
    }
    nav ul.inactivo {
        display: block;
        opacity: 1;
        text-align: center;
    }
    nav ul {
        background: inherit;
        height: inherit;
        padding: 0;
        position: relative;
        width: inherit;
    }
    nav ul li {
        display: inline;
    }
    input.campo-buscar {
        grid-area: 2 / 1 / 3 / 4;
        margin: 15px auto;
        width: 50rem;
    }

}

@media (min-width: 768px) {
    div.carousel-caption {
        width: 50%;
    }
  }

  @media (min-width: 800px) {
    img.w-100 {
        width: 100vw !important;
    }

  }

  @media (min-width: 980px) {

    div.carousel-caption {
        width: 40%;
    }

    img.w-100 {
        height: auto;
        width: 100% !important;
    }

    header {
        grid-template-columns: 2fr 4fr 2fr;
    }

    input.campo-buscar {
        grid-area: inherit;
        width: 28rem;
    }
    nav {
        grid-area: inherit;
    }

  }


  @media (min-width: 1440px) {
    * {
        font-size: 2.4rem;
        line-height: 2.7rem;
    }
    
    div.carousel-caption h5 {
        font-size: 4.7rem;
    }

    header img {
        box-sizing: content-box;
        padding: 2rem;
        width: 89%;
    }
  }






