@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,700&display=swap');

:root{
    --blue-HUSI: #004b99;
    --green: #95c11f;
    --white: #ffffff;
    --black: #000000;
  }

*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.7rem;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

header {
    align-items: center;
    display: grid;
    grid-template-columns: 100vw /*1fr 3fr 1fr*/;
    justify-items: center;
    position: absolute;
    z-index: 3;
}

header img{
    box-sizing: content-box;
    margin: 0;
    padding: 2rem;
    width: 70%;
}

section{
    background-color: black;
    display: block;
    height: 100vh;
    position: sticky;
    text-align: center;
    top: 0;
    width: 100%;
}

section.agua{
    background-size: cover; 
    background-repeat: no-repeat;
    display: flex;
    font-size: 3rem;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;    
    text-align: center;
}

section.agua:nth-child(odd) div.internalContent {
    right: 5vw;
    left: inherit;
}

section.agua:nth-child(odd) div.mascara {
    transform: rotateY(180deg);
}

section.agua h1{
    font-family: 'amarillo';
    font-size: 5rem;
    line-height: 4rem;
}

button.carousel-control-next, button.carousel-control-prev {
    width: 5%;
}

a.menuPleglable{
    position: relative;
}

a.menuPleglable::before {
    border-radius: 22px;
    content: 'V';
    color: var(--white);
    font-weight: bolder;
    font-size: 1rem;
    height: 13px;
    left: 47%;
    position: absolute;
    top: 28px;
    z-index: -1;
}

.squirrel-animation {
    position: absolute;
    transform: scale(3.7) rotate(-5deg);
    bottom: 60vh;
    left: 47vw;
    width: 100px;
    height: 140px;
    overflow: hidden;
    animation: squirrelFollow 4s steps(75);
    background-image: url(https://www.husi.org.co/documents/10180/8336274/P_Si.png/1546ddd2-574a-4998-9527-38d6b7ae540e?t=1681369915770);
    background-repeat: no-repeat;
    background-size: cover;
}

.squirrel-animationNo {
    position: absolute;
    transform: scale(3.7) rotate(-5deg);
    bottom: 60vh;
    left: 47vw;
    width: 100px;
    height: 140px;
    overflow: hidden;
    animation: squirrelFollowNo 4s steps(75);
    background-image: url(https://www.husi.org.co/documents/10180/8336274/P_No.png/a89707c4-acc9-4631-9533-4443c22e4539?t=1681370329553);
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes squirrelFollow {
    from {
        background-position: 0
    }

    to {
        background-position: -7500px
    }
}

@keyframes squirrelFollowNo {
    from {
        background-position: 0
    }

    to {
        background-position: -7500px
    }
}

.gameContent > div > p.respCorrecta{
    background: var(--green);
    color: #185c23;
    font-weight: bold;
}

.gameContent > div > p.respMarcada{
    box-shadow: inset 0 0 0 3px var(--blue-HUSI);
}

input.campo-buscar {
    background-image: url(https://www.husi.org.co/documents/10180/8336274/usuario.png/77701530-00c3-4091-b307-27fcb63069e3?t=1681363930479);
    background-size: 7.7rem;
    background-repeat: no-repeat;
    background-position: center 0rem;
    background-color: transparent;
    border-radius: 20rem;
    border: inherit;
    box-shadow: 0 0 44px -12px;
    padding: 4.6em 0 0;
    width: 9rem;
}

ul, ol{
    list-style: none;
}

nav.principalNav ul.inactivo{
    display: none;
    opacity: 0;
    transition: all 0.5s linear;
}

nav.principalNav > ul {
    background: var(--white);
    box-shadow: 0px 0px 76px -20px var(--black) inset;
    height: 100vh;
    left: 0;
    opacity: 1;
    padding: 8rem 2rem;
    position: absolute;
    transition: all 0.5s linear;
    top: 0;
    width: 100vw;
    z-index: 2;
}

nav.principalNav > ul li ul.submenu li a{
    color: #a9a9a9;
}

nav.principalNav > ul li a:hover, nav.principalNav > ul li ul.submenu li a:hover{
    background-color: #1233744d;
    color: var(--white);
}

.carousel-item {
    height: 100vh;
    overflow: hidden;
}

.carousel-indicators [data-bs-target] {
    background: var(--white);
    border: 1px solid var(--white);
    border-radius: 20px;
    height: 0.5rem;
    opacity: 1;
}

.carousel-indicators .active {
    background: var(--green);
    border: 1px solid var(--white);
    border-radius: 20px;
    opacity: 1;
}

div.carousel-caption{
    /*background: rgba(255, 255, 255, 0.8);
    color: var(--black);*/
    color: var(--white);
    bottom: 0;
    border-radius: 1rem 1rem 0 0;
    left: 4%;
    padding: 3rem 6rem 8rem;
    text-align: left;
    width: 90%;
}

div.carousel-caption h5{
    color: var(--white);
    /*color: var(--blue-HUSI);*/
    font-size: 4.3rem;
    font-style: italic;
    line-height: 4.3rem;
    font-weight: 700;  
    padding: 1.5rem 0;  
}

div.carousel-caption p::first-line{
    color: #ffeb00;
    font-size: 1.6rem;
    font-weight: 700;
}

div.carousel-indicators {
    /*bottom: 50vh;*/
    justify-content: end;
    z-index: 3;
}

div.d-none {
    display: block !important;
}

.gameContent{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    position: absolute;
    text-align: left;
}

.gameContent div#juego ~ div button{
    background-color: #3529e5;
    color: var(--white);
    border: 1px solid;
    border-radius: 20px;
    padding: 5px 15px;
    margin: 20px;
}

.gameContent div#juego ~ div button:hover{
    background-color: #080533;
}


.gameContent > div{
    color: var(--white);
    padding: 0 15rem;
}

.gameContent > div .pregunta {
    color: #04197a;
    font-size: 2.7rem;
    font-weight: bold;
    line-height: 2.7rem;
    margin: 2rem 0;
    text-shadow: 0 0 10px var(--white);
}

.gameContent > div .opcionUno, .opcionDos, .opcionTres{
    background-color: var(--white);
    border-bottom: 1px dashed;
    border-radius: 2rem;
    color: var(--blue-HUSI);
    cursor: pointer;
    padding: 1rem 2rem;
    transition: all 0.5s linear;
    text-decoration: none;
}

.gameContent > div .opcionUno:hover, .opcionDos:hover, .opcionTres:hover{
    background-color: #1233744d;
    color: var(--white);
}

.gameContent > div h5 {
    color: var(--white);
    font-size: 5rem;
    font-style: italic;
    /*text-transform: uppercase;*/
    font-weight: 700;
    line-height: 4.5rem;
    padding: 1.5rem 0;
}

.gameContent div.gamePoints {
    background: var(--white);
    border-radius: 20rem;
    color: var(--blue-HUSI);
    font-size: 6rem;
    grid-area: 1 / 1 / 2 / 3;
    justify-self: center;
    padding: 4rem 3rem;
}

.gameContent div.gameSopa {
    background: var(--white);
    border-radius: 20rem;
    color: var(--blue-HUSI);
    font-size: 6rem;
    grid-area: 1 / 1 / 2 / 3;
    justify-self: center;
    margin: 3rem;
    padding: 1rem;
}

img.abrir-menuHam{
    filter: invert(1);
    cursor: pointer;
    width: 40%;
    position: relative;
    z-index: 2000;
}

img.w-100{
    height: 100vh;
    position: relative;
    width: auto !important;
}

img.menuPleglable{
    filter: invert(1);
    padding: 0 2rem 1rem;
    width: 2.7rem;
}

img.img-logo{
    cursor: pointer;
}

.franja-pie {
    background: var(--green);
    border-radius: 2rem 2rem 0 0;
    bottom: 0;
    height: 30px;
    position: absolute;
    right: 2%;
    width: 60%;
    z-index: 2;    
}

.logo-husi {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-bottom: 2rem;
}

.mascara{
    filter: hue-rotate(167deg) brightness(170%) invert(1);
    height: auto;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
}

.respPregunta{
    position: fixed;
}




/* ---------- Sopa de letras ----------*/

#juego {
    background: #ffffff;
    border-radius: 20px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    width: 95%;
}

#juego div {
  width: 100%;
  margin: 0 auto;
}

#juego .puzzleSquare {
  height: 30px;
  width: 30px;
  text-transform: uppercase;
  background: #ffffff;
  border: 0;
  font: 1em sans-serif;
}

button::-moz-focus-inner {
  border: 0;
}

#juego .selected {
  background-color: orange;
}

#juego .found {
  background-color: blue;
  color: white;
}

#juego .solved {
  background-color: purple;
  color: white;
}

#juego .complete {
  background-color: green;
}

#Palabras {

}
#Palabras ul {
    padding: 0;
    margin: 0;
}

#Palabras li {
    display: inline-block;
    font: 1em sans-serif;
    margin: 0 20px;
    padding: 3px 0;
    vertical-align: top;
}

#Palabras .wordFound {
  text-decoration: line-through;
  color: gray;
}


/* ---------- Contenidos internos ----------*/

header#internal{
    align-items: center;
    display: grid;
    grid-template-columns: 10fr 2fr;
    justify-items: end;
    position: fixed;
    z-index: 3;
}

header#internal div > img{
    box-sizing: content-box;
    margin: 0;
    padding: 2rem;
    width: 78%;
}

nav.internalNav{
    display: block;
}

nav.internalNav > ul > li:hover ul.submenu {
    display: block;
}

nav.internalNav ul.submenu{
    border-radius: 1rem;
    display: none;
    margin: 0;
    min-width: 16rem;
    overflow: hidden;
    padding: 0;
    right: 2rem;
    position: absolute;
}

nav.internalNav ul.submenu li a{
    background-color: var(--white);
    border-bottom: 1px dashed;
    color: var(--blue-HUSI);
    display: block;
    padding: 1.3rem;
    transition: all 0.5s linear;
    text-decoration: none;
}

nav.internalNav > ul > li > a{
    background-color: var(--white);
    border: 1px solid #ffffff;
    border-radius: 2rem;
    box-shadow: 0 5px 16px -10px #000000 inset, 0 -4px 7px -1px rgba(255, 255, 255, .7);
    color: var(--blue-HUSI);
    display: block;
    margin: 15px 10px;
    padding: 0.8rem 2rem;;
    transition: all 0.5s linear;
    text-decoration: none;
}

nav.internalNav ul li a:hover{
    background-color: #1233744d;
    color: var(--white);
}

img.abrir-menuHam{
    filter: invert(1);
    cursor: pointer;
    width: 40%;
    position: relative;
    z-index: 2000;
}

div.internalContent {
    color: var(--white);
    border-radius: 1rem 1rem 0 0;
    left: 0;
    padding: 3rem 6rem 3rem;
    position: absolute;
    text-align: left;
    width: 100vw;
}

div.internalContent p::first-line{
    color: #ffeb00;
    font-size: 1.6rem;
    font-weight: 700;
}


div.internalContent h5 {
    color: var(--white);
    font-size: 2rem;
    font-style: italic;
    /*text-transform: uppercase;*/
    font-weight: 700;
    padding: 1.5rem 0;
}


/* ---------- Diseño adaptable ----------*/

    @media (min-width: 320px) {

        nav.principalNav > ul li{
            border-bottom: 0.2rem solid var(--green);
            font-style: italic;
            font-weight: bold;
            margin: 0 auto;
            list-style: none;
            width: 90%;
        }

        nav.principalNav > ul li a{
            text-decoration: none;
            display: block;
            padding: 1rem;
        }

        nav.principalNav > ul li ul.submenu li{
            border-bottom: 1px dashed #d2d2d2;
        }

        section.agua > video{
            width: 350vw;
            position: absolute;
            right: -32%;
        }
        
        div.carousel-caption {
            padding: 3rem 4rem 8rem;
        }
    }

    @media (min-width: 425px) {
        header img {
            width: 60%;
        }

        img.abrir-menuHam {
            width: 30%;
        }

        .logo-husi {
            grid-template-columns: 3fr 1fr 0fr;
        }

        div.carousel-indicators {
            bottom: 50vh;
            justify-content: center;
        }

        div.carousel-caption h5 {
            font-size: 5.3rem;
        }

    }

    @media (min-width: 568px) {
        section.agua > video{
            width: 200vw;
            position: absolute;
            right: -32%;
        }
        header#internal{
            grid-template-columns: 8fr 10fr;
            justify-items: start;
        }
        input.campo-buscar {
            grid-area: 2 / 1 / 3 / 4;
            margin: 15px auto;
        }
        nav.internalNav {
            justify-self: end;
        }
    }

    @media (min-width: 736px) {

        nav.principalNav > ul li{
            border-bottom: inherit;
            font-style: inherit;
            font-weight: inherit;
            margin: inherit;
            list-style: inherit;
            width: inherit;
        }

        nav.principalNav > ul li ul.submenu li{
            border-bottom: none;
        }

        nav.principalNav > ul li ul.submenu li a{
            color: var(--blue-HUSI);
        }



        header {
            grid-template-columns: 4fr 7fr 1fr;
        }
        header img {
            width: 95%;
        }
        img.abrir-menuHam {
            display: none;
        }
        .logo-husi {
            display: inline;
            margin: 0;
        }

        nav.principalNav > ul.inactivo {
            display: block;
            opacity: 1;
            text-align: center;
        }
        nav.principalNav > ul {
            background: inherit;
            box-shadow: inherit;
            height: inherit;
            padding: 0;
            position: relative;
            width: inherit;
        }

        nav.principalNav{
            grid-area: 1 / 2 / 2 / 4;
            text-align: center;
        }
        
        nav ul.submenu{
            border-radius: 1rem;
            display: none;
            margin: 0;
            min-width: 16rem;
            overflow: hidden;
            padding: 0;
            position: absolute;
        }

        nav ul.submenu li a{
            background-color: var(--white);
            border-bottom: 1px dashed;
            color: var(--blue-HUSI);
            display: block;
            padding: 1.3rem;
            transition: all 0.5s linear;
            text-decoration: none;
        }
        
        nav ul li a:hover{
            background-color: #1233744d;
            color: var(--white);
        }
        
        nav > ul > li{
            float: inherit;
        }
        
        nav > ul > li:hover ul.submenu {
            display: block;
        }

        nav > ul > li{
            float: left;
        }

        nav > ul > li > a{
            background-color: var(--white);
            border: 1px solid #ffffff;
            border-radius: 2rem;
            box-shadow: 0 5px 16px -10px #000000 inset, 0 -4px 7px -1px rgba(255, 255, 255, .7);
            color: var(--blue-HUSI);
            display: block;
            margin: 15px 10px;
            padding: 0.8rem 2rem;;
            transition: all 0.5s linear;
            text-decoration: none;
        }
    }

    @media (min-width: 768px) {
        div.carousel-caption {
            width: 70%;
        }
        div.carousel-caption p, div.internalContent p{
            font-size: 1.6rem;
            line-height: 1.8rem;
        }
        div.carousel-caption p::first-line, div.internalContent p::first-line{
            font-size: 1.6rem;
        }
        div.carousel-caption h5 {
            font-size: 6.3rem;
        }
    }

    @media (min-width: 980px) {
        section.agua > video{
            width: 120vw;
            position: absolute;
            right: -15%;
        }

        header#internal{
            grid-template-columns: 2fr 10fr;
        }

        div.carousel-caption {
            width: 70%;
        }
        header {
            grid-template-columns: 3fr 10fr 3fr;
        }

        input.campo-buscar {
            grid-area: inherit;
            margin: 15px 20px;
        }
        nav.principalNav {
            grid-area: inherit;
        }

        div.internalContent {
            width: 40vw;
        }

        /*div.internalContent h5 {
            font-size: 4rem;
        }*/

    }
  
    @media (min-width: 1024px) {
        section.agua > video{
            width: 110vw;
            position: absolute;
            right: -10%;
        }

        input.campo-buscar {
            margin: 15px auto;
        }

        img.w-100 {
            height: 100vh;
            width: auto !important;
        }
        div.carousel-caption h5, div.internalContent h5 {
            font-size: 7.3rem;
            line-height: 3.3rem;
            padding: 4.5rem 0;
        }
        div.carousel-caption p, div.internalContent p {
            font-size: 2rem;
            line-height: 2.2rem;
        }
        div.carousel-caption p::first-line, div.internalContent p::first-line{
            font-size: 2rem;
        }
    }

    @media (min-width: 1150px) {
        img.w-100 {
            height: auto;
            width: 100vw !important;
        }

        div.internalContent h5{        
            font-size: 5.3rem;
            line-height: 4.3rem;
        }
    }

    @media (min-width: 1440px) {

        .gameContent {
            padding: 10rem;
        }

        .gameContent > div h5 {
            font-size: 7rem;
            line-height: 6rem;
        }

        .gameContent div.gamePoints{
            font-size: 12rem;
            padding: 8rem 5rem;
        }

        .gameContent > div .pregunta{
            font-size: 3.5rem;
            line-height: 3.5rem;
            margin: 3rem 0;
        }

        section.agua > video{
            width: 100vw;
            position: absolute;
            right: 0;
        }

        div.carousel-caption {
            width: 60%;
        }

        header img {
            box-sizing: content-box;
            padding: 2rem;
            width: 70%;
        }

        header.internal img {
            box-sizing: content-box;
            padding: 2rem;
            width: 90%;
        }

        img.w-100 {
            height: auto;
            width: 100% !important;
        }
        
        /*div.internalContent h5 {
            font-size: 5rem;
        }*/

        div.internalContent {
            padding: 3rem 12rem;
        }

        div.carousel-caption p, div.internalContent p{
            font-size: 2.6rem;
            line-height: 2.8rem;
        }
        div.carousel-caption p::first-line, div.internalContent p::first-line{
            font-size: 2.6rem;
        }
        div.carousel-caption h5{
            font-size: 9.3rem;
        }
        div.internalContent h5{
            font-size: 7.3rem;
            line-height: 6.3rem;
        }
    }






